@model IEnumerable<PhotoUploader.Models.FileModel>

@{
    ViewData["Title"] = "Photo Uploader";
}

<div class="container">

    <div class="col">
        <h3>Choose file to upload</h3>

        <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data" class="mb-5">
            <div class="form-group">
                <input type="file" name="uploadedFile" />
            </div>
            <button type="submit" class="btn btn-outline-success mt-3">Upload</button>
        </form>
    </div>    

    <h3>All uploaded files</h3>

    @foreach (var item in Model)
    {
        <div class="col">
            <img src="@Url.Content(item.Path)" class="img-fluid mb-2" style="width:500px" />
        </div>
    }

</div>
